@model IEnumerable<MVCApp.Models.Lajsna>

@{
    ViewData["Title"] = "Lista lajsni";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Kreiraj novu lajsnu</a>
</p>


@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazivLajsne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazivTipa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrenutnaCena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivLajsne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivTipa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrenutnaCena)
                </td>
                <td>
                    @Html.ActionLink("Izmeni", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Obriši", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
